{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
   <title>My Items</title>
    <script src="{{ js_path['global'] }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ css_path['global'] }}">
    <link rel="stylesheet" type="text/css" href="{{ css_path['bootstrap'] }}">
    <link rel="stylesheet" type="text/css" href="{{ css_path['bootstrap_theme'] }}">

    <script>
        function getUserItems( p, n, s ) {
            console.log( 'loaded!' );

            if( p == "" ) {
                document.getElementById( "txtHint" ).innerHTML = "";
                return;
            }

            if( window.XMLHttpRequest ) { // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } 
            else { // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }

            xmlhttp.onreadystatechange = function() {
                if( xmlhttp.readyState == 4 && xmlhttp.status == 200 ) {
                    document.getElementById( "users-block" ).innerHTML = xmlhttp.responseText;
                }
            }

            var url = "";
        
            xmlhttp.open( "GET","../groom/ajax/get_user_items?p=" + p + 
                                                            "&n=" + n + 
                                                            "&s=" + s, true ) ;
            xmlhttp.send();
        }

        window.onload = getUserItems( 1, 1, 'value' );
    </script>

 </head>
 <body style="margin:0; padding:0; height:100%; padding-bottom:60px;">
    <div class="" style="min-height:100%; position:relative;">
        
        <div class="navbar navbar-blend-top height-header width-full pos-float-left bg-success" role="navigation">
            <div id="header_links" class="pos-float-right">
                Header Links:
                {% for link in links_header %}
                    <a href="{{ link['url'] }}">{{ link['label']}}</a>
                {% endfor %}
            </div>
        </div>

        <div id="container-home" class="bg-color-gray width-full pos-float-left" style="display:none;">
            <h2>Userid: {{ userid }}</h2>
            <h2>Username: {{ username }}</h2>
        </div>

        <div class="col-xs-12" style="border-style:solid; border-width:1px;">        
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                Profile will go here...
            </div>
        </div>    

        <div class="col-xs-12" id="admin-nav-users-pagination" style="border-style:solid; border-width:1px;">
            <div id="users-block"><div><b>Users info will be listed here.</b></div></div>
        </div>

        <div class="col-xs-12" id="admin-nav-users-pagination" style="border-style:solid; border-width:1px;">
            


            {% set n = item_count %}

            {{ counter }}

            {% for i in 1..n %}
                <a onclick="getUserItems( {{ i }}, 1, 'value' );"><u>{{ i }}</u></a>
            {% endfor %}
        </div>

        <div class="height-footer width-full pos-float-left bg-info" style="position:relative; bottom:0;">
            <div id="header_links" class="pos-float-right">
                Footer Links:
                {% for link in links_footer %}
                    <a href="{{ link['url'] }}">{{ link['label']}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
