{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script>
            function getUsers( p, n, s ) {
                console.log( 'loaded!' );

                if( p == "" ) {
                    document.getElementById( "txtHint" ).innerHTML = "";
                    return;
                }

                if( window.XMLHttpRequest ) { // code for IE7+, Firefox, Chrome, Opera, Safari
                    xmlhttp = new XMLHttpRequest();
                }
                else { // code for IE6, IE5
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }

                xmlhttp.onreadystatechange = function() {
                    if( xmlhttp.readyState == 4 && xmlhttp.status == 200 ) {
                        document.getElementById( "item-upload-block" ).innerHTML = xmlhttp.responseText;
                    }
                }

                var url = "";

                xmlhttp.open( "GET","../groom/ajax/get_item_upload_block?p=" + p +
                                                           "&n=" + n +
                                                           "&s=" + s, true ) ;
                xmlhttp.send();

                //document.getElementById('userhome-nav-container').scrollIntoView();
                $('html, body').animate({scrollTop:$('#userhome-nav-container').position().top}, 'slow');
            }

            window.onload = getUsers( 4, 5, 'id' );
        </script>

        <script type="text/javascript">
            console.log( 'testJS!' );
        </script>
        <title>User Home Page</title>
        <script src="{{ js_path['global'] }}"></script>
        <script src="{{ js_path['jquery'] }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ css_path['global'] }}">
        <link rel="stylesheet" type="text/css" href="{{ css_path['bootstrap'] }}">
        <link rel="stylesheet" type="text/css" href="{{ css_path['bootstrap_theme'] }}">
    </head>

    <div
        id="container-home"
        style="
            overflow-x:hidden;
            overflow-y:hidden;
            position:relative;
            width:100%;
            height:1700px;
            background-color:#29aba4;"
        class="
            bg-color-gray
            width-full
            pos-float-left"
    >
        <div style="height:27%; width:100%; position:absolute; top:0; left:0; z-index:10;">
            <div style="
                    /* border-top:2px solid #eb7260; */
                    background-color:#ffffff;
                    height:4%;">
                    <div style="height:30%; width:100%;"></div>
                        <div style="height:40%; display:inline-block; float:right; padding-right:1%;">
                        </div>
                    <div style="height:30%; width:100%;"></div>
            </div>
            <div style="height:100%;">
                <div style="height:100%;">
                    <div style="width:100%; height:100%; text-align:center; background-color: rgba(211, 213, 212, 0.1);
                    border-bottom: 1px solid #d3d5d4;
                    border-top: 1px solid #d3d5d4;">
                        <div style="width:100%; height:100%; ">
                            <div style="width:100%; height:100%;">
                                <div style="width:35%; height:100%; float:left"></div>
                                <div style="width:30%; height:100%; float:left; text-align:center; margin-left:auto; margin-right:auto;">
                                    <div style="width:100%; height:20%;"></div>
                                    <div style="width:30%; padding-bottom:30%; height:0; border:4px solid white; border-radius:100%; float:left; text-align:center; margin-left:auto; margin-right:auto;">
                                    </div>
                                    <div style="max-height:200px; width:40%; padding-bottom:40%; height:0; border:4px solid white; border-radius:100%; float:left; text-align:center; margin-left:auto; margin-right:auto;">
                                    </div>
                                    <div style="width:30%; padding-bottom:30%; height:0; border:4px solid white; border-radius:100%; float:left; text-align:center; margin-left:auto; margin-right:auto;">
                                    </div>
                                </div>
                                <div style="width:35%; height:100%; float:left"></div>
                            </div>

                        </div>
                        <div style="width:100%; height:20%; display:none;">
                            <div style="width:35%; height:100%; float:left">
                            </div>

                            <div class="home-link" style="width:30%; height:100%; float:left; text-align:center; margin-left:auto; margin-right:auto;">
                                <div style="width:20%; height:100%; display:inline-block; float:left;">
                                    <div style="width:100%; height:40%;"></div>
                                </div>
                                {% for link in links_home %}
                                    <a href="#" onClick="alert('test!')">
                                        <div
                                            onmouseover="document.getElementById('div1').style.display = 'block';"
                                            class="link-home" id="link-home-{{ link['page'] }}"
                                            style="
                                                width:20%;
                                                height:40%;
                                                display:inline-block;
                                                float:left;
                                                background-color:rgba(255, 255, 255, 0.7);
                                                border:1px solid rgba(255, 255, 255, 0.7);
                                                border-right:0px !important;
                                                border-radius:0px;">
                                            <div style="width:100%; height:20%;"></div>
                                            <div style="width:100%; height:60%;">{{ link['label'] }}</div>
                                            <div style="width:100%; height:20%;"></div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>

                            <div style="width:20%; height:100%; display:inline-block; float:left;">
                                <div style="width:100%; height:40%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:120px; border-top:4px solid #eb7260; background-color:#ffffff; display:none;">
                <div style="height:30%; width:100%;"></div>
                    <div style="height:40%; display:inline-block; float:right; padding-right:1%;">
                        {% for link in links_header %}
                            <div align="right" class="label label-info-light" style="opacity:0.6; height:100%; width:120px; float:left; margin:0px 10px 0px 10px;">
                                <a href="{{ link['url'] }}">{{ link['label']}}</a></div>
                        {% endfor %}
                    </div>
                <div style="height:35%; width:100%;"></div>
        </div>

        <div id="bg-home-portrait" style="background-image:url({{ bg_portrait }}); min-width: 2800px; height:28%; background-repeat:no-repeat; background-position:left top; background-size:60% auto; opacity:0.95;">
            <div style="width:100%; height:100%;">
                <div id="bg-home-portrait" style="position:absolute; top:0; background-image:url({{ bg_portrait }}); height:3200px; background-repeat:no-repeat; background-position:center top; background-size:100% auto; opacity:0.7;"></div>
            </div>
        </div>


        <div id="userhome-nav-container" style="height:22%; width:100%;">
            <div style="width:100%; height:100%;">
                <div style="width:10%; height:100%; float:left; border-left:1px solid black; border-right:1px solid black;">
                    10
                </div>
                <div style="width:80%; height:100%; float:left; z-index:1000; background-color:rgba(249,251,244,0.9);">
                    <div style="width:100%; height:100%; padding-top:6%;">
                        <div id="userhome-nav-block" style="height:200px; width:100%;">
                            <a style="background-size:100% 100%; background-image:url(http://192.168.220.159/groom/htdocs/images_1/default/learn_more.jpg);"
                                class="user-nav-home-button user-nav-button-left"
                                onclick="console.log('i3uhff'); getUsers(1, 5, 'id' );">
                                <div style="height:100%; width:100%; padding:60% 0 0 0;">
                                    <div style="width:100%; background-color:rgba(41,171,164,0.2); text-align:center;">LEARN MORE</div>
                                </div>
                            </a>
                            <a style="background-size:100% 100%; background-image:url(http://192.168.220.159/groom/htdocs/images_1/default/about_us.jpg);"
                                class="user-nav-home-button user-nav-button-left"
                                onclick="console.log('i3uhff'); getUsers(2, 5, 'id' );">
                                <div style="height:100%; width:100%; padding:60% 0 0 0;">
                                    <div style="width:100%; background-color:rgba(41,171,164,0.2); text-align:center;">ABOUT US</div>
                                </div>
                            </a>
                            <a style="background-size:100% 100%; background-image:url(http://192.168.220.159/groom/htdocs/images_1/default/your_items.jpg);"
                                class="user-nav-home-button user-nav-button-left"
                                onclick="console.log('i3uhff'); getUsers(3, 5, 'id' );">
                                <div style="height:100%; width:100%; padding:60% 0 0 0;">
                                    <div style="width:100%; background-color:rgba(41,171,164,0.2); text-align:center;">YOUR ITEMS</div>
                                </div>
                            </a>
                            <a style="background-size:100% 100%; background-image:url(http://192.168.220.159/groom/htdocs/images_1/default/get_started.jpg);"
                                class="user-nav-home-button user-nav-button-left"
                                onclick="console.log('i3uhff'); getUsers(4, 5, 'id' );">
                                <div style="height:100%; width:100%; padding:60% 0 0 0;">
                                    <div style="width:100%; background-color:rgba(41,171,164,0.2); text-align:center;">GET STARTED</div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div id="userhome-action-block" style="width:100%; height:100%; display:block;">
                        <div id="item-upload-block" style="width:100%; height:100%; display:block;">
                            <div><b>Users info will be listed here.</b></div>
                        </div>
                    </div>
                </div>
                <div style="width:10%; height:100%; float:left; border-left:1px solid black; border-right:1px solid black;">10</div>
            </div>
        </div>

        <div style="height:32%; width:100%; background-color:#29aba4;">
            <div style="width:100%; height:80%;">
                <div style="width:10%; height:100%; float:left; border-right:1px solid black;">10</div>
                <div style="width:80%; height:4%; float:left; border-right:1px solid black;">
                    <div style="width:100%; height:100%; padding-left:6%; padding-right:6%;">
                        <div style="width:100%; height:100%; text-align:center; background-color:#000000; display:none;">
                            <div style="height:100%; text-align:center; padding-top:2%; padding-bottom:2%">
                                {% for info in display_params.infos %}
                                    <div style="min-width:120px; max-height:320px; {% if not loop.last %}margin-right:2%; {% endif %}width:22%; height:100%; border:1px solid white; display:inline-block;">
                                        <div style="opacity:0.8; background-color:#000011; width:100%; height:20%; float:left;">{{ info.title }}</div>
                                        <div style="opacity:0.8; background-color:#000011; width:100%; height:60%; float:left;">{{ info.description }}</div>
                                        <div style="opacity:0.8; background-color:#000011; width:100%; height:20%; float:left;">{{ info.img_src }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:10%; height:100%; float:left; border-right:1px solid black;">10</div>
            </div>
        </div>

        <div style="height:18%; width:100%; background-color:#29aba4;">
            <div style="width:100%; height:100%;">
                <div style="width:10%; height:100%; float:left; border-right:1px solid black;">10</div>
                <div style="width:80%; height:100%; float:left; border-right:1px solid black;">
                    <div style="width:100%; height:100%; padding:20px;">
                        <div style="width:100%; height:100%;"></div>
                    </div>
                </div>
                <div style="width:10%; height:100%; float:left; border-right:1px solid black;">10</div>
            </div>
        </div>
    </div>
    <div id="container-home" style="overflow-x:hidden; overflow-y:hidden;float:left; width:100%; height:1700px; background-color:#29aba4;" class="bg-color-gray width-full pos-float-left">
        <div style="height:100%; width:100%; background-color:#29aba4;">
            <div style="width:100%; height:100%;">
                <div style="width:10%; height:100%; float:left; border-right:1px solid black;">10</div>
                <div style="width:80%; height:100%; float:left; border-right:1px solid black;">
                    <div style="width:100%; height:100%; padding:20px;">
                        <div style="width:100%; height:100%; background-color:#000000; display:none;"></div>
                    </div>
                </div>
                <div style="width:10%; height:100%; float:left; border-right:1px solid black;">10</div>
            </div>
        </div>
    </div>

</body>
</html>

{% endblock %}
